<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans">
    <!--开启注解扫描-->
    <context:component-scan base-package="com.aib"/>

    <!--SQL配置文件-->
    <context:property-placeholder location="classpath*:jdbc.properties"/>

    <!--SQL连接池-->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.name}"/>
        <property name="password" value="${jdbc.pwd}"/>
        <property name="maxIdle" value="10"/>
        <property name="minIdle" value="5"/>
    </bean>

    <!--配置SQLSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入SQL连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--扫描Entity包，重命名-->
        <property name="typeAliasesPackage" value="com.aib.entity"/>
        <!--扫描mapper映射器-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <!--配置Mapper扫描器-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.aib.dao"/>
    </bean>
</beans>