<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aib.mapper.BannerMapper">
    <select id="findAllBanner" resultType="com.aib.bean.BannerBean">
        select *
        from p2p.banner
    </select>
</mapper>