<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aib.mapper.UserMapper">
    <select id="findUserByPhone" parameterType="string" resultType="com.aib.bean.UserEntity">
        select * from p2p.users where phone=#{phone}
    </select>

    <!--注册用户-->
    <insert id="registerUser" parameterType="com.aib.bean.UserEntity">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
        insert into p2p.users(phone,pwd) values (#{phone},#{pwd})
    </insert>
</mapper>